<nav class="navbar-default" role="navigation">
    <div class="navbar-header">
        <img class="navbar-brand" src="resources/images/Logo.png" style="height: 100px;width: auto">
    </div>

    <ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
        <li><a ui-sref="yixue.start_here">从这儿开始</a></li>
        <li><a href="#">Tab 2</a></li>
        <li><a href="#">Tab 3</a></li>
        <li><a href="#">Tab 4</a></li>
        <li><a href="#">Tab 5</a></li>
        <li><a href="#">Tab 6</a></li>
        <li><a href="#">Tab 7</a></li>
        <li><a href="#">Tab 8</a></li>
        <li><a href="#">Tab 9</a></li>
        <li><a ui-sref="yixue.auth({type:'signup'})">Sign up</a></li>
        <li><a data-ng-click="openLoginModal()">Login</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right" style="padding-left: 30px">

    </ul>
    <!--<ul class="nav navbar-nav navbar-right" style="padding-right: 10px">-->
        <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i> Evan Shang <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Manage Profile</a></li>-->
                <!--<li><a href="#">Logout</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Settings</a></li>-->
                <!--<li><a href="#">Offline Mode</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
</nav>

<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color: black">&times;</button>
                <h4 class="modal-title">Please log in to Yixue</h4>
            </div>
            <div class="modal-body" style="text-align: left">
                <div class="row">
                    <div class="col-sm-6">
                        <div style="align-content: center">
                            <div class="form-group">
                                <label for="loginEmail">Email:</label>
                                <input id="loginEmail" type="email"
                                       class="form-control"
                                       placeholder="Username/Email/QQ/WeChat" style="margin-bottom: 5px"/>

                                <label for="loginPassword">Password:</label>
                                <input id="loginPassword" type="password"
                                       class="form-control"
                                       placeholder="Password" style="margin-bottom: 5px"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div style="text-align: center">
                            <h5 style="margin-bottom: 5px;">
                                Login with WeChat ID
                            </h5>
                            <img src="/resources/images/qrcode_example.jpg" alt="Wechat QR Code" style="width:75%;height:75%;">
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">-->
                <!--&lt;!&ndash;<button data-ng-click="saveDevice()"></button>&ndash;&gt;-->
                <!--&lt;!&ndash;<button  data-ng-click="connectSerial()" type="button" class="btn btn-primary"><i class="fa fa-circle"></i> Connect Device</button>&ndash;&gt;-->
                <!--&lt;!&ndash;<button  data-ng-click="startStreamData()" type="button" class="btn btn-primary"><i class="fa fa-circle"></i> Send Data</button>&ndash;&gt;-->
                <!--&lt;!&ndash;<button  data-ng-click="disconnect()" type="button" class="btn btn-primary"><i class="fa fa-circle"></i> Disconnect</button>&ndash;&gt;-->
                <!--<button id='startRecordBtn' h data-ng-click="" type="button" class="btn btn-primary"><i class=""></i>Login</button>-->
                <!--&lt;!&ndash;<button type="button" data-ng-click="cancelRecord()" class="btn btn-primary" data-dismiss="modal">Close</button>&ndash;&gt;-->

            <!--</div>-->
        </div>
        <!-- Modal content-->

    </div>
</div>



<div data-smart-router-animation-wrap="content content@yixue" data-wrap-for="#content">
    <div id ="yixueContent" data-ui-view="content" data-autoscroll="false"></div>
</div>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-btm">
                    <span>&copy; Copyright 2017. YiXue</span>
                </div>
            </div>
        </div><!--footer btm-->
    </div>
</footer><!--footer end-->
<!--scripts and plugins -->