<nav class="navbar-default" role="navigation">
    <div class="navbar-header">
        <img class="navbar-brand" src="resources/images/Logo.png" style="height: 100px;width: auto">
    </div>

    <!--<ul class="nav navbar-nav navbar-right" style="padding-right: 20px">-->
        <!--<li><a href="#">从这儿开始</a></li>-->
        <!--<li><a href="#">Tab 2</a></li>-->
        <!--<li><a href="#">Tab 3</a></li>-->
        <!--<li><a href="#">Tab 4</a></li>-->
        <!--<li><a href="#">Tab 5</a></li>-->
        <!--<li><a href="#">Tab 6</a></li>-->
        <!--<li><a href="#">Tab 7</a></li>-->
        <!--<li><a href="#">Tab 8</a></li>-->
        <!--<li><a href="#">Tab 9</a></li>-->
    <!--</ul>-->

    <ul class="nav navbar-nav navbar-right" style="padding-left: 30px">
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Login</a></li>
    </ul>
    <!--<ul class="nav navbar-nav navbar-right" style="padding-right: 10px">-->
        <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle"></i> Evan Shang <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Manage Profile</a></li>-->
                <!--<li><a href="#">Logout</a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">Settings</a></li>-->
                <!--<li><a href="#">Offline Mode</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->
</nav>


<div data-smart-router-animation-wrap="content content@yixue" data-wrap-for="#content">
    <div id ="yixueContent" data-ui-view="content" data-autoscroll="false"></div>
</div>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-btm">
                    <span>&copy; Copyright 2017. YiXue</span>
                </div>
            </div>
        </div><!--footer btm-->
    </div>
</footer><!--footer end-->
<!--scripts and plugins -->