<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->

    <!--<div id="generalMenu">-->
        <!--<div class="navbar-header">-->
            <!--<a href="http://avertus.ca" target="_blank" class="navbar-brand">Avertus <sup style="font-size: small;">INC.</sup></a>-->
        <!--</div>-->

        <!--<ul class="nav navbar-nav navbar-right" style="padding-right: 10px">-->
            <!--<li><a data-ng-click="goLocalRecord()"><strong>Record Locally</strong></a></li>-->
            <!--<li><a href="http://199.241.160.153/#/signup" target="_blank">Register</a></li>-->
            <!--<li><a href="http://avertus.ca" target="_blank">About Us</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</nav>-->

<div data-smart-router-animation-wrap="content content@yixue" data-wrap-for="#content">
    <div id ="yixueContent" data-ui-view="content" data-autoscroll="false"></div>
</div>