<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <input id="signupUsername" type="text"
               class="form-control"
               placeholder="Username" style="margin-bottom: 5px"/>

        <input id="signupEmail" type="email"
               class="form-control"
               placeholder="Email/QQ/WeChat" style="margin-bottom: 5px"/>

        <input id = "signupPassword" type="text"
               class="form-control"
               placeholder="Password" style="margin-top: 5px"/>

        <input id = "signupPasswordConfirm" type="text"
               class="form-control"
               placeholder="Confirm Password" style="margin-top: 5px"/>

        <button class="btn btn-block btn-primary b tn-xlarge" data-ng-click="" style="margin-top: 10px"><p style="color: #ffffff;font-size: larger; margin-bottom: -5px">Sign up!</p></button>

        <a  target="_blank"><p style="">Already a member? Login here.</p></a>
    </div>
</div>